@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.container1 {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container1 {
    width: 1350px;
    margin: 0 auto;
  }
}